---
http_interactions:
- request:
    method: get
    uri: http://node.locomote.com/code-task/airports?q=Melbourne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "airportCode": "MLB",
            "airportName": "Melbourne International Arpt",
            "cityCode": "MLB",
            "cityName": "Melbourne",
            "countryCode": "US",
            "countryName": "United States",
            "latitude": 28.102753,
            "longitude": -80.645258,
            "stateCode": "FL",
            "timeZone": "America/New_York"
          },
          {
            "airportCode": "MEL",
            "airportName": "Tullamarine Arpt",
            "cityCode": "MEL",
            "cityName": "Melbourne",
            "countryCode": "AU",
            "countryName": "Australia",
            "latitude": -37.673333,
            "longitude": 144.843333,
            "stateCode": "VI",
            "timeZone": "Australia/Hobart"
          }
        ]
  recorded_at: Thu, 01 Jun 2017 13:13:15 GMT
recorded_with: VCR 3.0.3
