---
http_interactions:
- request:
    method: get
    uri: http://node.locomote.com/code-task/airports?q=Sydney
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "airportCode": "SYD",
            "airportName": "Kingsford Smith",
            "cityCode": "SYD",
            "cityName": "Sydney",
            "countryCode": "AU",
            "countryName": "Australia",
            "latitude": -33.946111,
            "longitude": 151.177222,
            "stateCode": "NS",
            "timeZone": "Australia/Sydney"
          },
          {
            "airportCode": "YQY",
            "airportName": "Sydney Airport",
            "cityCode": "YQY",
            "cityName": "Sydney",
            "countryCode": "CA",
            "countryName": "Canada",
            "latitude": 46.161388,
            "longitude": -60.047779,
            "stateCode": "NS",
            "timeZone": "America/Halifax"
          }
        ]
  recorded_at: Fri, 02 Jun 2017 16:41:34 GMT
- request:
    method: get
    uri: http://node.locomote.com/code-task/airports?q=Heathrow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "airportCode": "LHR",
            "airportName": "Heathrow",
            "cityCode": "LON",
            "cityName": "London",
            "countryCode": "GB",
            "countryName": "United Kingdom",
            "latitude": 51.4775,
            "longitude": -0.461389,
            "stateCode": "",
            "timeZone": "Europe/London"
          }
        ]
  recorded_at: Fri, 02 Jun 2017 16:41:35 GMT
- request:
    method: get
    uri: http://node.locomote.com/code-task/airlines
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "code": "SU",
            "name": "Aeroflot"
          },
          {
            "code": "MU",
            "name": "China Eastern"
          },
          {
            "code": "EK",
            "name": "Emirates"
          },
          {
            "code": "KE",
            "name": "Korean Air lines"
          },
          {
            "code": "QF",
            "name": "Qantas"
          },
          {
            "code": "SQ",
            "name": "Singapore Airlines"
          }
        ]
  recorded_at: Fri, 02 Jun 2017 16:41:35 GMT
[...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/SQ?date=2017-12-04&from=SYD&to=LHR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 02 Jun 2017 16:37:25 GMT
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "U1EzMjcgMTUxMjMwNjAwMDAwMA==",
            "airline": {
              "code": "SQ",
              "name": "Singapore Airlines"
            },
            "flightNum": 327,
            "start": {
              "dateTime": "2017-12-04T23:59:00+11:00",
              "airportCode": "SYD",
              "airportName": "Kingsford Smith",
              "cityCode": "SYD",
              "cityName": "Sydney",
              "countryCode": "AU",
              "countryName": "Australia",
              "latitude": -33.946111,
              "longitude": 151.177222,
              "stateCode": "NS",
              "timeZone": "Australia/Sydney"
            },
            "finish": {
              "dateTime": "2017-12-05T10:16:00Z",
              "airportCode": "LHR",
              "airportName": "Heathrow",
              "cityCode": "LON",
              "cityName": "London",
              "countryCode": "GB",
              "countryName": "United Kingdom",
              "latitude": 51.4775,
              "longitude": -0.461389,
              "stateCode": "",
              "timeZone": "Europe/London"
            },
            "plane": {
              "code": "74H",
              "shortName": "Boeing 747-8",
              "fullName": "Boeing 747-8",
              "manufacturer": "Boeing",
              "model": "747-8 Intercontinental"
            },
            "distance": 17020,
            "durationMin": 1277,
            "price": 2977.14
          },
          {
            "key": "U1E1OCAxNTEyMzA2MDAwMDAw",
            "airline": {
              "code": "SQ",
              "name": "Singapore Airlines"
            },
            "flightNum": 58,
            "start": {
              "dateTime": "2017-12-04T06:16:00+11:00",
              "airportCode": "SYD",
              "airportName": "Kingsford Smith",
              "cityCode": "SYD",
              "cityName": "Sydney",
              "countryCode": "AU",
             [...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/KE?date=2017-12-05&from=SYD&to=LHR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 02 Jun 2017 16:37:26 GMT
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "S0U0NDAgMTUxMjM5MjQwMDAwMA==",
   [...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/MU?date=2017-12-07&from=SYD&to=LHR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 02 Jun 2017 15:30:18 GMT
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "TVU3NzkgMTUxMjU2NTIwMDAwMA==",
   [...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/EK?date=2017-12-04&from=SYD&to=LHR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 02 Jun 2017 14:31:42 GMT
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "RUs3NTUgMTUxMjMwNjAwMDAwMA==",
   [...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/EK?date=2017-12-06&from=YQY&to=LHR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 02 Jun 2017 16:41:30 GMT
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "RUs5NzUgMTUxMjUzMjgwMDAwMA==",
   [...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/QF?date=2017-12-06&from=YQY&to=LHR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 02 Jun 2017 16:37:24 GMT
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "UUY4MDMgMTUxMjUzMjgwMDAwMA==",
   [...]
[...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/SQ?date=2017-12-04&from=YQY&to=LHR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 02 Jun 2017 15:14:24 GMT
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "U1ExMjkgMTUxMjM2MDAwMDAwMA==",
   [...]
[...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/SU?date=2017-12-03&from=YQY&to=LHR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 02 Jun 2017 15:30:17 GMT
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "U1U2MTUgMTUxMjI3MzYwMDAwMA==",
   [...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/MU?date=2017-12-04&from=YQY&to=LHR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 02 Jun 2017 16:37:28 GMT
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "TVUzOTcgMTUxMjM2MDAwMDAwMA==",
   [...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/SU?date=2017-12-03&from=SYD&to=LHR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 02 Jun 2017 15:14:25 GMT
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "U1U2NzEgMTUxMjIxOTYwMDAwMA==",
   [...]
[...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/QF?date=2017-12-04&from=SYD&to=LHR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 02 Jun 2017 16:37:35 GMT
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "UUY3MDIgMTUxMjMwNjAwMDAwMA==",
   [...]
[...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/KE?date=2017-12-03&from=YQY&to=LHR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 02 Jun 2017 16:41:27 GMT
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "S0U4OTggMTUxMjI3MzYwMDAwMA==",
   [...]
[...]
